.cal {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 1000px;
  padding: 15px;
}

.cal *,
.cal *:before,
.cal *:after {
  box-sizing: inherit;
}
